body {
  font-family: "Press Start 2P", cursive;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  padding-top: 30px;
  padding-bottom: 30px;
}

.home{
  padding-top: 30px;
  text-align: center;
  font-size: 1rem;
  color: lightgrey;
}

.home:hover{
  color: black;
}

.colorEG {
  display: block;
  font-size: 1rem;
  position: relative;
  z-index: 3;
  color: white;
  text-decoration: none;
  transition: all 200ms ease;
}

#EG1 {
  background-color: #b112db;
  height: 2.5rem;
  width: 100%;
  padding: 15px 20px 15px;
}

#EG2 {
  background-color: #424244;
  height: 2.5rem;
  width: 100%;
  padding: 15px 20px 15px;
}

#EG3 {
  background-color: #c56b84;
  height: 2.5rem;
  width: 100%;
  padding: 15px 20px 15px;
}

#EG4 {
  background-color: #828896;
  height: 2.5rem;
  width: 100%;
  padding: 15px 20px 15px;
}

#EG5 {
  background-color: #88e1e7;
  height: 2.5rem;
  width: 100%;
  padding: 15px 20px 15px;
}

#EG6 {
  background-color: #fd85c4;
  height: 2.5rem;
  width: 100%;
  padding: 15px 20px 15px;
}

#EG7 {
  background-color: #cc98a5;
  height: 2.5rem;
  width: 100%;
  padding: 15px 20px 15px;
}

#EG8 {
  background-color: #bba6c7;
  height: 2.5rem;
  width: 100%;
  padding: 15px 20px 15px;
}

#EG9 {
  background-color: #ca04e0;
  height: 2.5rem;
  width: 100%;
  padding: 15px 20px 15px;
}

.accordion {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.accordion ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}
.accordion ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 14.286%;
  height: 75vh;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 500ms ease;
}
.accordion ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
  transition: all 200ms ease;
}

.accordion ul li div a * {
  opacity: 0;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  transform: translateX(-20px);
  transition: all 400ms ease;
}

.accordion ul li:nth-child(1) {
  background-image: url("./assets/egirl/eGirl1.png");
  background-size: cover;
}
.accordion ul li:nth-child(2) {
  background-image: url("./assets/egirl/eGirl2.jpg");
  background-size: cover;
}
.accordion ul li:nth-child(3) {
  background-image: url("./assets/egirl/eGirl3.jpg");
  background-size: cover;
}
.accordion ul li:nth-child(4) {
  background-image: url("./assets/egirl/eGirl5.png");
  background-size: cover;
}
.accordion ul li:nth-child(5) {
  background-image: url("./assets/egirl/eGirl4.jpg");
  background-size: cover;
}
.accordion ul li:nth-child(6) {
  background-image: url("./assets/egirl/eGirl6.jpg");
  background-size: cover;
}
.accordion ul li:nth-child(7) {
  background-image: url("./assets/egirl/eGirl7.jpg");
  background-size: cover;
}
.accordion ul li:nth-child(8) {
  background-image: url("./assets/egirl/eGirl8.jpg");
  background-size: cover;
}
.accordion ul li:nth-child(9) {
  background-image: url("./assets/egirl/eGirl9.jpg");
  background-size: cover;
}
.accordion ul:hover li {
  width: 8%;
}
.accordion ul:hover li:hover {
  width: 30%;
}

@media screen and (max-width: 375px) {
  body {
    margin: 0;
  }
}
