body{
    font-family: "Lora", serif;
}

.title{
    text-align: center;
    font-size: 2.5rem;
    padding-top: 30px;
  padding-bottom: 30px;
  }

  .home{
    padding-top: 30px;
    text-align: center;
    font-size: 1rem;
    color: lightgrey;
  }
  
  .home:hover{
    color: black;
  }

  .colorMK{
    display: block;
    font-size: 1.5rem;
    position: relative;
    z-index: 3;
    color:white;
    text-decoration: none;
    transition: all 200ms ease;
  }

  #MK1{
    background-color: #a66859;
    height: 2.5rem;
    width: 100%;
    padding: 15px 20px 15px;
  }

  #MK2{
    background-color: #dd9a77;
    height: 2.5rem;
    width: 100%;
    padding: 15px 20px 15px;
  }

  #MK3{
    background-color: #817c69;
    height: 2.5rem;
    width: 100%;
    padding: 15px 20px 15px;
  }

  #MK4{
    background-color: #f5b247;
    height: 2.5rem;
    width: 100%;
    padding: 15px 20px 15px;
  }

  #MK5{
    background-color: #d5b69e;
    height: 2.5rem;
    width: 100%;
    padding: 15px 20px 15px;
  }

  #MK6{
    background-color: #a68a6f;
    height: 2.5rem;
    width: 100%;
    padding: 15px 20px 15px;
  }

  #MK7{
    background-color: #868b55;
    height: 2.5rem;
    width: 100%;
    padding: 15px 20px 15px;
  }

  #MK8{
    background-color: #7f6d63;
    height: 2.5rem;
    width: 100%;
    padding: 15px 20px 15px;
  }

  #MK9{
    background-color: #405e1d;
    height: 2.5rem;
    width: 100%;
    padding: 15px 20px 15px;
  }

.accordion {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
  }
  .accordion ul {
    width: 100%;
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0;
  }
  .accordion ul li {
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    width: 14.286%;
    height: 75vh;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 500ms ease;
  }
  .accordion ul li div {
    display: block;
    overflow: hidden;
    width: 100%;
    transition: all 200ms ease;
  }
 
  .accordion ul li div a * {
    opacity: 0;
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    position: relative;
    z-index: 5;
    white-space: nowrap;
    overflow: hidden;
    transform: translateX(-20px);
    transition: all 400ms ease;
  }

  .accordion ul li:nth-child(1) {
    background-image: url("./assets/morikei/moriKei1.png");
    background-size: cover;
  }
  .accordion ul li:nth-child(2) {
    background-image: url("./assets/morikei/moriKei2.jpg");
      background-size: cover;
  }
  .accordion ul li:nth-child(3) {
    background-image: url("./assets/morikei/moriKei3.png");
    background-size: cover;
  }
  .accordion ul li:nth-child(4) {
    background-image: url("./assets/morikei/moriKei4.jpg");
    background-size: cover;
  }
  .accordion ul li:nth-child(5) {
    background-image: url("./assets/morikei/moriKei5.jpg");
    background-size: cover;
  }
  .accordion ul li:nth-child(6) {
    background-image: url("./assets/morikei/moriKei6.png");
    background-size: cover;
  }
  .accordion ul li:nth-child(7) {
      background-image: url("./assets/morikei/moriKei7.jpg");
      background-size: cover;
  }
  .accordion ul li:nth-child(8) {
    background-image: url("./assets/morikei/moriKei8.jpg");
    background-size: cover;
}
.accordion ul li:nth-child(9) {
  background-image: url("./assets/morikei/moriKei9.jpg");
  background-size: cover;
}
  .accordion ul:hover li {
    width: 8%;
  }
  .accordion ul:hover li:hover {
    width: 30%;
  }
  
  @media screen and (max-width: 375px) {
    .title{
      font-size: 2rem;
    }
  
    .colorMK{
      font-size: 1.2rem;
    }
  
    .accordion ul:hover li {
      width: 5%;
    }
    .accordion ul:hover li:hover {
      width: 100%;
    }
  }

  

  