body {
    margin: 1rem;
    padding: 1rem;
}

h2{
    font-size: 2.5rem;
    color: blue;
}

.cottageCore{
    font-size: 2rem;
}

.darkA {
    font-size: 2rem;
}

.devilCore{
    font-size: 2rem;
}

.eGirl{
    font-size: 2rem;
}

.fairyCore{
    font-size: 2rem;
}

.loFi{
    font-size: 2rem;
}

.moriKei {
    font-size: 2rem;
}

.spaceCore{
    font-size: 2rem;
}

.vaporwave{
    font-size: 2rem;
}