body {
  margin: 1rem;
  padding: 1rem;
}

h2 {
  font-size: 2.5rem;
}

.block {
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.block .background, .block .foreground {
  box-sizing: border-box;
  width: 90vw;
  flex: none;
}


/* .block .foreground{
  margin-left: -100%;
} */

.block .foreground{
  position: absolute;
}

#rect1{
  position: absolute;
  left: 50%;
  height: 50vh;
  width: 10vw;
  background-color: blue;
  box-shadow: 0 0 50px 50px blue;
  display: none;
}

#rect2{
  position: absolute;
  top: calc(100% - 30vh);
  left: 0%;
  height: 20vh;
  width: 60vw;
  background-color: red;
  box-shadow: 0 0 50px 50px red;
  display: none;
}

#rect3{
  position: absolute;
  top: 10%;
  left: 20%;
  height: 70vh;
  width: 5vw;
  background-color: green;
  box-shadow: 0 0 50px 50px green;
  display: none;
}

#rect4{
  position: absolute;
  top: 50%;
  left: calc(100% - 90vw);
  height: 2vh;
  width: 80vw;
  background-color: purple;
  box-shadow: 0 0 50px 50px purple;
  display: none;
}

#rect5{
  position: absolute;
  top: calc(100% - 80vh);
  left: 80%;
  height: 70vh;
  width: 5vw;
  background-color: yellow;
  box-shadow: 0 0 50px 50px yellow;
  display: none;
}

#rect6{
  position: absolute;
  top: 20%;
  left: calc(100% - 50vw);
  height: 5vh;
  width: 40vw;
  background-color: gray;
  box-shadow: 0 0 50px 50px gray;
  display: none;
}

#rect7{
  position: absolute;
  top: calc(100% - 70vh);
  left: 40%;
  height: 60vh;
  width: 5vw;
  background-color: pink;
  box-shadow: 0 0 50px 50px pink;
  display: none;
}

#rect8{
  position: absolute;
  top: 10%;
  left: 0%;
  height: 10vh;
  width: 60vw;
  background-color: orange;
  box-shadow: 0 0 50px 50px orange;
  display: none;
}

#rect9{
  position: absolute;
  top: 0%;
  left: calc(100% - 35vw);
  height: 80vh;
  width: 3vw;
  background-color: lightseagreen;
  box-shadow: 0 0 50px 50px lightseagreen;
  display: none;
}

.title {
  text-align: center;
  font-family: "Inconsolata", monospace;
  font-weight: 500;
}

.container {
  padding-top: 2rem;
  margin: auto 0;
}

.grid {
  width: 60%;
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20vh;
  grid-column-gap: 15vw;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.aesthetic {
  align-self: center;
  justify-self: center;
  text-align: center;
}

#cottageCore {
  font-size: 2rem;
  font-family: "Aref Ruqaa", serif;
}

#darkA {
  font-size: 2rem;
  font-family: "Rye", cursive;
  vertical-align: bottom;
  white-space: nowrap;
}

#devilCore {
  font-size: 2.5rem;
  font-family: "Grenze Gotisch", cursive;
}

#eGirl {
  font-size: 1.7rem;
  font-family: "Press Start 2P", cursive;
}

#fairyCore {
  font-size: 2rem;
  font-family: "Imprima", sans-serif;
}

#loFi {
  font-size: 2rem;
  font-family: "Lemon", cursive;
}

#moriKei {
  font-size: 2rem;
  font-family: "Lora", serif;
}

#spaceCore {
  font-size: 2rem;
  font-family: "Orbitron", sans-serif;
}

#vaporwave {
  font-size: 2.8rem;
  font-family: "VT323", monospace;
}

@media screen and (max-width: 375px) {
  h2 {
    font-size: 1.8rem;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3.5rem;
  }

  .cottageCore {
    font-size: 1.3rem;
  }

  .darkA {
    font-size: 1.3rem;
  }

  .devilCore {
    font-size: 1.8rem;
  }

  .eGirl {
    font-size: 1rem;
  }

  .fairyCore {
    font-size: 1.3rem;
  }

  .loFi {
    font-size: 1.3rem;
  }

  .moriKei {
    font-size: 1.3rem;
  }

  .spaceCore {
    font-size: 1.3rem;
  }

  .vaporwave {
    font-size: 2.1rem;
  }
}
